*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

header{
    width:100%;
    height:69vh;
    border:20px solid black;
    background:url("../assets/imgs/backgroundFood.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}

.container{
    display:flex;
    width:100%;
    height:200vh; /*100%;*/
    /* border-left:2px solid black; */
    /* border-right:2px solid black; */
    border-bottom:2px solid red;
}

.section-middle{
    width:60%;
    height:100%;
    border-right:20px solid black;
    border-left:20px solid black;
}

.section-sides{
    width:20%;
    height:100%;
    /* border:1px solid purple; */
}

