*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.container{
    width:100%;
    height:60vh;
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid red;
}