*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* overflow:hidden; */
}

header{
    width:100%;
    height:69vh;
    /* border:20px solid black; */
    border-radius:0px;
    padding:5px;
    box-sizing:border-box;
    display:inline-block;
    background-color:black;
}

.container{
    display:flex;
    width:100%;
    height:200vh; /*100%;*/
    /* border-left:2px solid black; */
    /* border-right:2px solid black; */
    border-bottom:2px solid red;
}

.section-middle{
    width:60%;
    height:100%;
    background:rgb(245, 245, 245);
    border-radius:50px;
    padding:1.5%;
}

.section-sides{
    width:20%;
    height:100%;
    border-right:25px solid black;
    border-left:25px solid black;
    /* background:rgb(250, 250, 250); */
    /* border-radius:30px; */
}

.ad{
    background:rgb(245, 245, 245);
    border-radius:30px;
    height:100%;
    padding:5%;
}

.inner{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    background: url("../assets/imgs/backgroundFood.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}