@font-face{
    font-family:"Kingstone";
    src: url(../assets/fonts/KingstoneDemoRegular-G3n5G.ttf)format("truetype");
}

@font-face{
    font-family:"Weddingday";
    src: url(../assets/fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf)format("truetype");
}

@font-face{
    font-family:"Goldrops";
    src: url(../assets/fonts/GoldropspersonaluseRegular-9Ynn5.otf)format("truetype");
}

@font-face{
    font-family:"Soulside";
    src: url(../assets/fonts/SoulsideBetrayed-3lazX.ttf)format("truetype");
}

@font-face{
    font-family:"Shiny";
    src: url(../assets/fonts/SuperShiny-0v0rG.ttf);
}

@font-face{
    font-family:"Brother";
    src: url(../assets/fonts/BrotherSignature-7BWnK.otf);
}

.kingstone{
    font-family:"Kingstone",sans-serif;
}

.weddingday{
    font-family:"Weddingday",sans-serif;
}

.goldrops{
    font-family:"Goldrops",sans-serif;
}

.soulside{
    font-family:"Soulside",sans-serif;
}

.shiny{
    font-family:"Shiny",sans-serif;
}

.brother{
    font-family:"Brother",sans-serif;
}

body{
    margin:0;
}

.top-bar{
    display:flex;
    align-items:center;
    width:100%;
    border-bottom:2px solid black;
    height:10vh;
}

.icon{
    margin-top:0.6%;
    width:130px;
    height:130px;
    background:url("../assets/imgs/logo.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.bubble-text{
    color:transparent;
    -webkit-text-stroke:1px #881fc9;
}

.menuTitle{
    font-size:400%;
}

.menu-selector{
    display:flex;
    align-items:center;
    margin-left:auto;
    margin-right:3%;
    width:50%;
    gap:5%;
    height:100%;
}

.btn{
    width:20%;
    height:5vh;
    background-color:white;
    color:transparent;
    font-size:150%;
    -webkit-text-stroke:1px #a81bff;
    letter-spacing:2px;
    border-radius:0px;
    transition: 
        transform 0.5s, 
        background-color 0.3s, 
        -webkit-text-stroke 0.3s, 
        border-radius 0.6s;
}

.btn:hover{
    background-color:#a81bff;
    -webkit-text-stroke:1px white;
    transform: scale(1.2); /* increases size without shifting anything */
    border-radius:30px;
    cursor:pointer;
}

.btn:active{
    background-color:#881fc9;
    transform:scale(1.15);
    
}