/* Colors of note: #881fc9, #a81bff */

@font-face{
    font-family:"Kingstone";
    src: url(../assets/fonts/KingstoneDemoRegular-G3n5G.ttf)format("truetype");
}

@font-face{
    font-family:"Weddingday";
    src: url(../assets/fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf)format("truetype");
}

@font-face{
    font-family:"Goldrops";
    src: url(../assets/fonts/GoldropspersonaluseRegular-9Ynn5.otf)format("truetype");
}

@font-face{
    font-family:"Soulside";
    src: url(../assets/fonts/SoulsideBetrayed-3lazX.ttf)format("truetype");
}

@font-face{
    font-family:"Shiny";
    src: url(../assets/fonts/SuperShiny-0v0rG.ttf);
}

@font-face{
    font-family:"Brother";
    src: url(../assets/fonts/BrotherSignature-7BWnK.otf);
}

.kingstone{
    font-family:"Kingstone",sans-serif;
}

.weddingday{
    font-family:"Weddingday",sans-serif;
}

.goldrops{
    font-family:"Goldrops",sans-serif;
}

.soulside{
    font-family:"Soulside",sans-serif;
}

.shiny{
    font-family:"Shiny",sans-serif;
}

.brother{
    font-family:"Brother",sans-serif;
}

.top-bar{
    display:flex;
    align-items:center;
    width:100%;
    border-top:15px solid black;
    border-left:25px solid black;
    border-right:25px solid black;
    height:13vh;

    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:rgb(245, 245, 245);

    overflow:visible;
}

body{
    margin:0;
    padding-top:9.5vh;
    background-color:black;
}

.top-bar::after{
    content:"";
    position:absolute;
    left:-34.6px;
    bottom:-76%;
    width:102.2%;
    height:55%;

    background-color:transparent;
    border:15px solid black;
    border-bottom:10px solid transparent;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    z-index:5;
    pointer-events:none;
}

.top-bar .coner-fill-left{
    left:-20px;
}

.top-bar .corner-fill-left,
.top-bar .corner-fill-right{
    content:"";
    position:absolute;
    width:1.8%;
    height:9%;
    background:transparent;
    z-index:6;
    top:99.5%;
}

.top-bar .corner-fill-left{
    left:-1.1%;
}

.top-bar .corner-fill-right{
    right:-1%;
}

.top-bar .corner-fill-left2,
.top-bar .corner-fill-right2{
    content:"";
    position:absolute;
    width:1%;
    height:26%;
    background:transparent;
    /* z-index:6; */
    top:99%;
}

.top-bar .corner-fill-left2{
    left:-1.9%;
}

.top-bar .corner-fill-right2{
    right:-1.9%;
}

.top-bar .corner-fill-left3,
.top-bar .corner-fill-right3{
    content:"";
    position:absolute;
    width:1%;
    height:10%;
    background:black;
    /* z-index:5; */
    top:99%;
}

.top-bar .corner-fill-left3{
    left:-1.2%;
}

.top-bar .corner-fill-right3{
    right:-1.2%;
}

.icon{
    margin-top:0.6%;
    width:140px;
    height:140px;
    background:url("../assets/imgs/logo.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.bubble-text{
    color:transparent;
    -webkit-text-stroke:1px #881fc9;
}

.menuTitle{
    font-size:450%;
}

.menu-selector{
    display:flex;
    align-items:center;
    margin-left:auto;
    margin-right:3%;
    width:50%;
    gap:5%;
    height:100%;
}

.btn{
    width:20%;
    height:5vh;
    background-color:white;
    color:transparent;
    font-size:200%;
    -webkit-text-stroke:1px #a81bff;
    letter-spacing:2px;
    border-radius:0px;
    transition: 
        transform 0.5s, 
        background-color 0.3s, 
        -webkit-text-stroke 0.3s, 
        border-radius 0.6s;
}

.btn:hover{
    background-color:#a81bff;
    -webkit-text-stroke:1px white;
    transform: scale(1.2); /* increases size without shifting anything */
    border-radius:30px;
    cursor:pointer;
}

.btn:active{
    background-color:#881fc9;
    transform:scale(1.15);
    
}